@import 'styles/font.scss';

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 35px;
  min-width: 175px;
  line-height: 21px;
  font-size: 1rem;
  font-weight: 600;
  font-family: $poppins;

  &.disabled {
    cursor: not-allowed;
  }

  &.default {
    border: 2px solid;

    &.primary {
      border-color: transparent;
      color: theme('palette.common.white');
      background-color: theme('palette.primary.dark');

      &:hover {
        border-color: theme('palette.primary.deepDark');
        background-color: theme('palette.primary.deepDark');
      }

      &.disabled {
        border-color: theme('palette.primary.darken');
        background-color: theme('palette.primary.darken');
        color: theme('palette.primary.deepDark');
      }
    }

    &.secondary {
      border-color: theme('palette.primary.dark');
      color: theme('palette.primary.dark');
      background-color: theme('palette.common.white');

      &:hover {
        border-color: theme('palette.primary.deepDark');
        color: theme('palette.common.white');
        background-color: theme('palette.primary.deepDark');
      }

      &.disabled {
        border-color: theme('palette.grey.300');
        background-color: theme('palette.common.white');
        color: theme('palette.grey.300');
      }
    }
  }

  &.outlined {
    border: 2px solid;

    &.primary {
      border-color: theme('palette.common.white');
      color: theme('palette.common.white');
      background-color: theme('palette.primary.main');

      &:hover {
        background-color: theme('palette.primary.deepDark');
      }

      &.disabled {
        color: theme('palette.primary.darken');
        border-color: theme('palette.primary.darken');
        background-color: theme('palette.primary.main');
      }
    }

    &.secondary {
      background-color: transparent;
      border-color: theme('palette.common.white');
      color: theme('palette.common.white');

      &:hover {
        background-color: theme('palette.primary.deepDark');
      }

      &.disabled {
        border-color: theme('palette.primary.darken');
        color: theme('palette.primary.deepDark');
      }
    }
  }
}
